@import "fonts.scss";
@import "var.scss";

[class*="__container"] {
    width: 100%;
    max-width: 1600px;
    padding: 0 10px;
    margin: 0 auto;
}
[class*="__container-small"] {
    width: 100%;
    max-width: 1280px;
    padding: 0 10px;
    margin: 0 auto;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Inter;
    font-weight: 500;
    background-color: $white;
    height: 100%;
}

.main {
    flex: 1 1 auto;
}

button, a, label, input, .admin-edit__point, .cab-nav__leave, .cab-nav__el, .auth__tab, .spoiler, .select {
    -webkit-tap-highlight-color: transparent;
}
input[type='number'] {
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.burger {
    background-color: transparent;
    @media (min-width: 991.98px) {
        display: none;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30px;
    flex-shrink: 0;
    gap: 8px;

    span {
        height: 2px;
        width: 100%;
        background-color: $grey;
        pointer-events: none;

        transition: width cubic-bezier(0.68, -0.6, 0.32, 1.6) $animSpeed, transform cubic-bezier(0.68, -0.6, 0.32, 1.6) $animSpeed;
    }
}
.burger.active {
    span {
        &:nth-child(1) {
            width: 50%;
            transform: rotate(45deg) translate(5px, 2px);
        }
        &:nth-child(2) {
            transform: rotate(-45deg) translate(0, 0);
        }
        &:nth-child(3) {
            width: 50%;
            transform: rotate(45deg) translate(5px, -12px);
        }
    }
}

.button-stroke {
    display: flex;
    height: 38px;
    align-items: center;
    padding: 0 20px;
    background-color: transparent;

    border: 1px solid $grey;
    color: $grey;

    font-weight: 600;
    font-size: 15px;
    @media (max-width: 1200px) {
        font-size: calc(13px + (15 - 13) * ( (100vw - 320px) / (1200 - 320)));
    }
    @media (max-width: 480px) {
        padding-left: calc(14px + (20 - 14) * ( (100vw - 320px) / (480 - 320)));
        padding-right: calc(14px + (20 - 14) * ( (100vw - 320px) / (480 - 320)));
    }
    line-height: 125%;

    transition: background-color ease-in-out $animSpeed, color ease-in-out $animSpeed;
    &:hover {
        background-color: $grey;
        color: $white;
    }
}
.button-filled {
    display: flex;
    height: 38px;
    align-items: center;
    padding: 0px 20px;
    background-color: $grey;
    color: $white;
    font-weight: 600;
    font-size: 15px;
    line-height: 125%;
    @media (max-width: 1200px) {
        font-size: calc(13px + (15 - 13) * ( (100vw - 320px) / (1200 - 320)));
    }
    @media (max-width: 480px) {
        padding-left: calc(14px + (20 - 14) * ( (100vw - 320px) / (480 - 320)));
        padding-right: calc(14px + (20 - 14) * ( (100vw - 320px) / (480 - 320)));
    }

    transition: background-color ease-in-out $animSpeed, color ease-in-out $animSpeed;
    &:hover {
        background-color: $black;
    }
}
.button-orange {
    background-color: $orange;
    color: $white;
    transition: background-color ease-in-out $animSpeed;

    &:hover {
        background-color: #d47900;
    }
}

.title {
    font-weight: 600;
    font-size: 22px;
    line-height: 117%;
    color: $black;
    @media (max-width: 480px) {
        text-align: center;
    }
}
.link-more {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    gap: 4px;
    color: $orange;
    transition: color ease-in-out $animSpeed;
    white-space: nowrap;

    svg {
        width: 20px;
        transform: rotate(-90deg) translateY(2px);

    }
    path {
        fill: $orange;
        transition: fill ease-in-out $animSpeed;
    }

    &:hover {
        color: #d47900;
        path {
            fill: #d47900;
        }
    }
}

.list-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
    @media (max-width: 480px) {
        flex-direction: column;
        gap: 8px;
        align-items: center;
        margin-bottom: calc(20px + (30 - 20) * ( (100vw - 320px) / (480 - 320)));
    }
}

// LIST TYPE#1
.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    @media (max-width: 1400px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;    
    }
    @media (max-width: 1100px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;    
    }
    @media (max-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr;               
    }
    @media (max-width: 900px) {
        grid-template-columns: 1fr 1fr;               
    }
    @media (max-width: 480px) {
        grid-template-columns: 1fr;               
    }
    gap: 13px;
}
.product-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #f2f2f2;
    padding: 15px;

    &:hover {
        .product-card__caption {
            color: $orange;
        }
        .product-card__preview {
            img {
                transform: scale(1.06);
            }
        }
    }

    @media (max-width: 1400px) {
        display: none;
        &:nth-child(-n+5) {
            display: flex;
        }
    }
    @media (max-width: 1100px) {
        display: none;
        &:nth-child(-n+5) {
            display: none;
        }
        &:nth-child(-n+4) {
            display: flex;
        }   
    }
    @media (max-width: 900px) {
        display: none;
        &:nth-child(-n+4) {
            display: flex;
        }              
    }
    @media (max-width: 480px) {
        display: none;
        &:nth-child(-n+4) {
            display: none;
        }   
        &:nth-child(-n+3) {
            display: flex;
        }      
        
        align-items: center;
    }

    // .product-card__preview

    &__preview {
        width: 100%;
        height: 240px;
        @media (max-width: 991.98px) {
            height: calc(200px + (240 - 200) * ( (100vw - 320px) / (991.98 - 320)));
        }
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;

            transition: transform ease-in-out $animSpeed;
        }
    }

    // .product-card__caption

    &__caption {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 13px;
        line-height: 118%;
        color: $black;
        transition: color ease-in-out .2s;

        @media (max-width: 480px) {
            text-align: center;
        }
    }

    // .product-card__price

    &__price {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        white-space: nowrap;
        color: $black;
    }
}
// LIST TYPE#2

.categories-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 24px;

    @media (max-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media (max-width: 991.98px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 767.98px) {
        grid-template-columns: 1fr 1fr;
        gap: calc(12px + (24 - 12) * ( (100vw - 320px) / (767.98 - 320)));
    }
    @media (max-width: 480px) {
        grid-template-columns: 1fr;
    }
}
.category-card {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border: 1px solid #F2F2F2;

    @media (max-width: 1200px) {
        display: none;
        &:nth-child(-n+4) {
            display: flex;
        }
    }
    @media (max-width: 991.98px) {
        display: none;
        &:nth-child(-n+4) {
            display: none;
        }
        &:nth-child(-n+3) {
            display: flex;
        }   
    }
    @media (max-width: 767.98px) {
        display: none;
        &:nth-child(-n+4) {
            display: flex;
        }
    }
    @media (max-width: 480px) {
        display: none;
        &:nth-child(-n+4) {
            display: none;
        }
        &:nth-child(-n+3) {
            display: flex;
        }
    }

    &:hover {
        .category-card__preview {
            img {
                transform: scale(1.05);
            }
        }
        .category-card__title {
            color: $orange;
        }
    }

    // .category-card__preview

    &__preview {
        overflow: hidden;
        width: 100%;
        height: 225px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;

            transition: transform ease-in-out $animSpeed;
        }


    }

    // .category-card__label

    &__label {
        display: flex;
        padding: 12px 15px;
        align-items: center;
        gap: 20px;

    }

    // .category-card__title

    &__title {
        display: inline-block;
        margin-right: auto;
        font-weight: 500;
        font-size: 16px;
        line-height: 118%;
        color: $black;

        transition: color ease-in-out $animSpeed;

        max-width: 140px;
        @media (max-width: 480px) {
            max-width: 220px;
        }
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    // .category-card__icon

    &__icon {
        width: 20px;
        height: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}



.main {

    // .main__breadcrumbs

    &__breadcrumbs {
        margin: 15px 0;
    }
}
.breadcrumbs {

    // .breadcrumbs__line

    &__line {
        display: flex;
        flex-wrap: wrap;
    }

    // .breadcrumbs__el

    &__el {
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
        &:not(:last-child) {
            &::after {
                content: '/';
                padding-right: 4px;
            }
        }
        &::after {
            padding-left: 4px;
        }

        font-weight: 400;
        font-size: 13px;
        line-height: 16px;

        color: #828282;

        transition: color ease-in-out .2s;
        &:hover {
            color: #4F4F4F;
        }

        // .breadcrumbs__el_current

        &_current {
            pointer-events: none;
            text-decoration: underline;
            color: #4F4F4F;
        }
    }
}

select {
    display: flex;
    padding: 0 15px;
    border: 1px solid #E0E0E0;
    height: 50px;
}

.select {
    position: relative;
    user-select: none;

    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    /* Gray 3 */

    color: $light-dark;

    // .select__header

    &__header {
        display: flex;
        align-items: center;
        height: 50px;
        padding: 12px 20px;
        border-radius: 3px;
        border: 1px solid #4F4F4F;
        cursor: pointer;
    }

    // .select__label

    &__label {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        /* Gray 3 */

        color: #828282;
    }

    // .select__current

    &__current {
        margin-left: 6px;
        margin-right: auto;

        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        /* Gray 3 */

        color: $grey;
    }

    // .select__icon

    &__icon {
        transition: transform ease-in-out $animSpeed;
    }

    // .select__body

    &__body {
        position: absolute;
        background-color: $white;
        top: calc(100% + 1px);
        width: 100%;
        left: 0;
        transform: translateY(-10px);
        opacity: 0;
        pointer-events: none;
        transition: opacity ease-in-out $animSpeed, transform ease-in-out $animSpeed;
        border: 1px solid #4F4F4F;

        overflow: auto;
        max-height: 300px;

        &::-webkit-scrollbar {
            width: 5px;
            background-color: $dark-white;
            border-radius: 5px;
            height: 200px;
        }
        &::-webkit-scrollbar-thumb {
            background: $grey;
            border-radius: 5px;
        }
    }

    // .select__item

    &__item {
        cursor: pointer;

        padding: 12px 20px;
        text-align: center;
    }

    option {
        font-family: Inter;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        /* Gray 3 */

        color: $light-dark;

        &:disabled {
            color: #ccc;
        }
    }
}
.select._opened {
    z-index: 99;
    .select__icon {
        transform: rotate(180deg);
    }
    .select__body {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }
}

.spoiler {
    border-bottom: 1px solid #E0E0E0;

    // .spoiler__header

    &__header {
        width: 100%;
        margin-top: 10px;
        padding: 10px 0;

        display: flex;
        align-items: center;

        cursor: pointer;
    }

    // .spoiler__icon

    &__icon {
        margin-right: 10px;

        width: 22px;
        height: 22px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    // .spoiler__title

    &__title {
        margin-right: auto;

        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }

    // .spoiler__status

    &__status {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #828282;
        display: inline-block;
        margin-left: 20px;

        @media (max-width: 480px) {
            text-align: center;
        }
    }

    // .spoiler__decor

    &__decor {
        width: 24px;
        height: 24px;
        margin-left: 20px;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 20px;
            transition: transform ease-in-out $animSpeed;
        }
    }

    // .spoiler__body

    &__body {
        display: block;
        padding: 10px 0;
        padding-top: 0;
        padding-left: 32px;

        font-weight: 400;
        font-size: 16px;
        line-height: 0%;

        color: #828282;
        opacity: 0;

        transition: opacity ease-in-out $animSpeed, line-height ease-in-out $animSpeed, padding ease-in-out $animSpeed;
    }
}
.status {

    // .status__status

    &__status {
        color: #925200;
    }
}

.spoiler._opened {
    .spoiler__body {
        padding-top: 10px;
        padding-bottom: 20px;
        line-height: 130%;
        opacity: 1;
    }
    .spoiler__decor {
        img {
            transform: rotate(180deg);
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 13px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    // .pagination__nearest

    &__nearest {
        display: flex;
        gap: 13px;
    }

    // .pagination__el

    &__el {
        min-width: 32px;
        height: 32px;
        padding: 0 12px;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;

        background-color: $input-grey;
        color: $grey;

        transition: background-color ease-in-out .2s, color ease-in-out .2s;

        &:hover {
            background-color: $orange;
            color: $white;
        }

        // .pagination__el_current

        &_current {
            background-color: $orange;
            color: $white;
            pointer-events: none;
        }
    }

    // .pagination__space

    &__space {
        display: inline-block;
        height: 100%;
        padding: 7px 0;
    }
}


.main {

    // .main__category

    &__category {
        margin: 55px 0;

        @media (max-width: 1200px) {
            margin-top: calc(25px + (55 - 25) * ( (100vw - 320px) / (1200 - 320)));
        }
    }
}
.category {

    &__wrapper {
        background-color: $opacity-orange;
        padding: 25px 30px;
        @media (max-width: 1200px) {
            padding-top: calc(18px + (25 - 18) * ( (100vw - 320px) / (1200 - 320)));
            padding-bottom: calc(18px + (25 - 18) * ( (100vw - 320px) / (1200 - 320)));
            padding-left: calc(20px + (30 - 20) * ( (100vw - 320px) / (1200 - 320)));
            padding-right: calc(20px + (30 - 20) * ( (100vw - 320px) / (1200 - 320)));
        }
    }

    // .category__title

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: $black;
    }
}

.form {
    display: flex;
    flex-direction: column;


    // .form__input

    &__input {
        height: 50px;
        width: 100%;
        padding: 0 18px;
        border: 1px solid #E0E0E0;

        margin-bottom: 12px;

        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $grey;

        &::placeholder {
            color: $light-dark;
        }

        &_label {
            margin-bottom: 0 !important;
        }

        &_file {
            position: absolute;
            pointer-events: none;
            opacity: 0;
        }
    }

    &__label {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #828282;
        padding: 5px 18px;

        margin-bottom: 12px;
    }
    &__photo-label {
        display: flex;
        align-items: center;
        height: 50px;
        width: 100%;
        padding: 0 18px;
        border: 1px solid #E0E0E0;

        margin-bottom: 12px;

        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $light-dark;
    }

    &__textarea {
        display: flex;
        align-items: center;
        font-family: Inter;
        resize: vertical;
        min-height: 220px;
        height: 50px;
        width: 100%;
        padding: 15px 18px;
        border: 1px solid #E0E0E0;

        margin-bottom: 12px;

        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $grey;

        &::placeholder {
            color: $light-dark;
        }
    }

    // .form__button

    &__button {
        justify-content: center;
        margin-top: 12px;
        height: 50px;
    }

    // .form__buttons

    &__buttons {
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }
    &__inputs-row {
        display: flex;
        gap: 20px;

        input, .select {
            flex: 1 1 50%;
            @media (max-width: 480px) {
                flex: 1 1 auto;
            }
        }

        @media (max-width: 480px) {
            flex-direction: column;
            gap: 0;
        }
    }


    .select {
        &__header {
            border-radius: 0;
            border: 1px solid #E0E0E0;
            color: $light-dark;
            padding-left: 18px;
            padding-right: 18px;
        }
        &__current {
            color: $light-dark;
            margin-left: 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }
        &__body {
            border: 1px solid #E0E0E0;
        }

        margin-bottom: 12px;
    }
}