$grey: #333;
$light-grey: #BDBDBD;
$light-dark: #828282;
$white: #fff;
$dark-white: #F5F5F5;
$black: #0A0A0A;
$footer-grey: #232323;
$input-grey: #F9F9F9;

$orange: #FF9000;
$blue: #00A3FF;
$opacity-orange: #FFF4E5;

$animSpeed: .3s;